<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">
  * {
    margin:0;
    padding:0;
  }
</style>
<script type="text/javascript" src="/assets/lib/dd.js"></script>
<script type="text/javascript">
  var P = function(){
    
  };
  dd.clearable(P);
  
  var p = new P();
  p.addClear(function(){
    console.log('..');
  });
  p.addClear('test',function(){
    console.log('test');
  },'test');
  p.clear('test');
  p.clear('test');
  p.clear();
</script>
</head>
<body>

</body>
</html>