<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">
  li {
    line-height: 2;
  }
</style>
</head>
<body>
<h1>Page List</h1>
<ul>
  <% if (isRoot) { %>
    <li>
      <a href="../">
        ..
      </a>
    </li>
  <% } %>
  <% pages.forEach(item => { %>
    <li>
      <a href="./<%= item %>">
        <%= item %>
      </a>
    </li>
  <% }); %>
</ul>
</body>
</html>