<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
</head>
<body>
<ul id="target">
</ul>
<script type="text/javascript">
var target = document.getElementById('target');

function append (container) {
  var i, li;
  for (i = 0; i < 1000; i++) {
    li = document.createElement('li');
    li.textContent = i;
    container.appendChild(li);
  }
}

//创建一个文档片段，可以向这个片段内插入dom，再将片段一次性插入到文档流中
var frag = document.createDocumentFragment();
append(frag);
target.appendChild(frag);
</script>
</body>
</html>