<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
</head>
<body>
  <ui-person name="butSalt" age="30"></ui-person>
  <ui-person name="Krista" age="31"></ui-person>
  <div class="container">
    <div>
      <span class="label">姓名：</span><span>Liz</span>
    </div>
    <div>
      <span class="label">年龄：</span><span>13</span>
    </div>
  </div>
<!-- template下的内容属于一个新的文档 -->
<template id="J_ui-person-tmpl">
  <style>
    /** 样式只作用于shadowRoot内部 **/
    .container {
      background-color: steelblue;
      margin-top: 8px;
    }

    .label {
      font-weight: bold;
    }

  </style>
  <div class="container">
    <div>
      <span class="label">姓名：</span><span class="J_name"></span>
    </div>
    <div>
      <span class="label">年龄：</span><span class="J_age"></span>
    </div>
  </div>
</template>
<script>
  (() => {
    class UiPerson extends HTMLElement {
      constructor() {
        super();

        const template = document.getElementById('J_ui-person-tmpl');

        // document.querySelector('ui-person').shadowRoot === null
        const shadowRoot = this.attachShadow({mode: 'closed'});

        shadowRoot.appendChild(
          template.content.cloneNode(true)
        );

        shadowRoot.querySelector('.J_name').innerText = this.getAttribute('name');

        shadowRoot.querySelector('.J_age').innerText = this.getAttribute('age');
      }
    }

    customElements.define('ui-person', UiPerson);
  })();
</script>
</body>
</html>