<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">
  /**屏幕类型，且当layout viewport小于或等于600px时应用**/
  @media screen and (max-width: 600px) {
    #target{
      display:none;
    }
  }

  #box {
    width: 20px;
    height: 20px;
    background-color: red;
  }

  /** 当layout viewport宽度小于等于600px，或layout viewport大于等于1000px时应用 **/
  @media (max-width: 600px), (min-width: 1000px) {
    #box {
      width: 40px;
      height: 40px;
    }
  }
</style>
</head>
<body>
  <div id="target">I'm Here!</div>
  <div id="box"></div>
</body>
</html>