<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">

.container {
  margin: 20px;
}

/** 元素类型必须为p，同级p元素队列内排第二 **/
p:nth-of-type(2) {
  color: red;
}

/** 查找带有target这个class的元素 **/
/** 获取元素的类型，该元素在同级同类型元素队列内须排第二 **/
.target:nth-of-type(2) {
  font-weight: bold;
}
</style>
</head>
<body>
<div>div</div>
<p>p</p>
<div>div</div>
<p class="target">p</p>
<div class="container">
  <div>div</div>
  <p>p</p>
  <p class="target">p</p>
  <div class="target">div</div>
</div>
</body>
</html>