<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">
svg {
  border: 1px black solid;
}
</style>
</head>
<body>
<!-- https://developer.mozilla.org/zh-CN/docs/Web/SVG/Tutorial/Paths -->
<svg width="500" height="2000">
  <g transform="translate(0,50)">
    <!-- 移动到(10,0)，到(100,0)画条线 -->
    <path d="M10 0 H100" stroke="#000"/>
  </g>
  <g transform="translate(0,100)">
    <!-- 移动到(10,0)，到(100,0)画条线 -->
    <path d="M10 0 h90" stroke="#000"/>
  </g>
  <g transform="translate(0,150)">
    <!-- 移动到(10,10)，到(10,30)画条线 -->
    <path d="M10 10 V30" stroke="#000"/>
  </g>
  <g transform="translate(0,200)">
    <!-- 移动到(10,10)，到(10,30)画条线 -->
    <path d="M10 10 v20" stroke="#000"/>
  </g>
  <g transform="translate(0,250)">
    <!--三次贝塞尔曲线 -->
    <!-- C X1 Y1, X2 Y2, X Y -->
    <!-- M起始点  (X1,Y1)左侧控制点  (X2,Y2)右侧控制点  (X,Y)与M对应的终止点  -->
    <path d="M0 50 C25 0, 50 0, 75 50" stroke="#000" fill="rgba(255, 255, 255, 0)"/>
  </g>
  <g transform="translate(0,300)">
    <!--三次贝塞尔曲线 补刀 -->
    <!-- SX2 Y2, X Y -->
    <!-- C的(X,Y)做起始点  由C的(X2,Y2)过C的(X,Y)做对称得到S的(X1,Y1)  (X2,Y2)右侧控制点  (X,Y)终止点  -->
    <path d="M0 50 C25 0, 50 0, 75 50" stroke="#000" fill="rgba(255, 255, 255, 0)"/>
  </g>
  <g transform="translate(0,350)">
    <!--二次贝塞尔曲线 -->
    <!-- QX1 Y1, X Y -->
    <!-- M起始点  (X1,Y1)中间点  (X,Y)终止点 -->
    <path d="M0 50 Q37.5 0, 75 50" stroke="#000" fill="rgba(255, 255, 255, 0)"/>
  </g>
  <g transform="translate(0,400)">
    <!--二次贝塞尔曲线 补刀 -->
    <!-- TX Y -->
    <!-- Q的(X,Y)做起始点  由Q的(X1,Y1)过Q的(X,Y)做对称得到T的(X1,Y1)  (X,Y)终止点 -->
    <path d="M0 50 Q37.5 0 75 50 T150 50" stroke="#000" fill="rgba(255, 255, 255, 0)"/>
  </g>
  <g transform="translate(0,500)">
    <!-- Z z最后描述的点与起点相连，形成闭合回路 -->
    <!-- 图形始终都会有填充，但只有用z后才会显示最后一条连线 -->
    <path d="M0 0 H100 V100 Z" stroke="#000" fill="rgba(255, 255, 255, 1)"/>
  </g>
  <g transform="translate(0,600)">
    <!-- A rx ry x-axis-rotation large-arc-flag sweep-flag x y -->
    <!-- rx 水平方向的半径-->
    <!-- ry 垂直方向的半径 -->
    <!-- x-axis-rotation 顺时针是正方向(度) -->
    <!-- large-arc-flag 0小角度 1大角度 -->
    <!-- sweep-flag 0起点到终点逆时针 1起点到终点顺时针 -->
    <path d="M80 80
         A 45 45, 0, 0, 0, 125 125
         L 125 80 Z" fill="green"/>
    <path d="M230 80
         A 45 45, 0, 1, 0, 275 125
         L 275 80 Z" fill="red"/>
    <path d="M80 230
         A 45 45, 0, 0, 1, 125 275
         L 125 230 Z" fill="purple"/>
    <path d="M230 230
         A 45 45, 0, 1, 1, 275 275
         L 275 230 Z" fill="blue"/>
  </g>
</svg>
</body>
</html>