<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">
svg {
  border: 1px black solid;
  margin: 10px;
}
</style>
</head>
<body>
<svg width="300" height="300">
  <defs>
    <symbol id="J-symbol">
      <circle cx="150" cy="150" r="150" fill="steelblue"/>
    </symbol>
  </defs>
  <!-- use会被替换成一个g元素 -->
  <!-- use上除x，y，width，height，href外的属性会被拷贝到g元素上 -->
  <!-- use上x="0" y="0" => g上transform="translate(0, 0)" -->
  <!-- use上href指向的内容会被深拷贝 -->
  <!-- symbol会被替换成svg，use上的width和height（默认值100%）会被设置到svg上 -->
  <!-- svg元素放到g元素内 -->
  <use href="#J-symbol" width="300" height="300" x="0" y="0"/>
</svg>
</body>
</html>