<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>fe-note</title>
<style type="text/css">
svg {
  border: 1px black solid;
  margin: 10px;
}
</style>
</head>
<body>
<svg width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<!-- 默认为xMidYmid meet -->
<!-- x, y, width, height -->
<svg viewbox="30,30,40,40" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<hr/>
<!-- 左上角对齐，在比例不变的情况下，必须显示整个选区 -->
<svg preserveAspectRatio="xMinYMin meet" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<!-- 右下角对齐，在比例不变的情况下，必须显示整个选区 -->
<svg preserveAspectRatio="xMaxYMax meet" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<!-- 中心点对齐，在比例不变的情况下，必须显示整个选区 -->
<svg preserveAspectRatio="xMidYMid meet" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<hr/>
<!-- 左上角对齐，在比例不变的情况下，填充整个空间 -->
<svg preserveAspectRatio="xMinYMin slice" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<!-- 右下角对齐，在比例不变的情况下，填充整个空间 -->
<svg preserveAspectRatio="xMaxYMax slice" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<!-- 中心点对齐，在比例不变的情况下，填充整个空间 -->
<svg preserveAspectRatio="xMidYMid slice" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
<hr/>
<!-- 在不保持比例的情况下，填充整个空间 -->
<svg preserveAspectRatio="none" viewbox="40,20,20,60" width="100" height="100">
  <g transform="translate(30,30)">
    <polygon points="0,0 0,40 40,20" fill="red"/>
  </g>
  <g transform="translate(40,20)">
    <polygon points="0,0 0,60 20,60 20,0" fill="rgba(0, 0, 0, .1)"/>
  </g>
</svg>
</body>
</html>