<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Learn Front End</display-name>
	<servlet>
		<servlet-name>page</servlet-name>
		<servlet-class>learn.PageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/page/index.html</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>learn.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>method</servlet-name>
		<servlet-class>learn.MethodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>page</servlet-name>
		<url-pattern>/page/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/page/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>method</servlet-name>
		<url-pattern>/method</url-pattern>
	</servlet-mapping>
</web-app>
